<html>

<header>
    <title>Web Server</title>
    <link rel="stylesheet" href="/css/style.css">
</header>

<body>
        <div class="main-content">
                    {{>header}}
        <br>
        {{messageError}}
        </div>

        {{>footer}}
</body>


</html>