<html>

<header>
    <title>Help</title>
        <link rel="icon" href="/images/weather-icon.jpg">

    <link rel="stylesheet" href="/css/style.css">

</header>

<body>

    <div class="main-content">
    {{> header}}
    <p>from help page</p>

    </div>

    {{>footer}}

</body>


</html>